name: lab_assistant
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  skin_studio_design_tokens:
    git:
      url: https://github.com/ahnha/skin-studio-design-system.git
      ref: v0.2.2
      path: packages/flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/lab_logo.png
    - assets/images/logo.png
